:root {
  --background: #ffffff;
  --foreground: #171717;
  --border-color: #e0e0e0;
  --border-style: dashed;
  --padding: 12px;
  --padding-h: 0 12px;
  --padding-v: 12px 0;
  --border-rS: 4px;
  --border-rM: 8px;
  --border-rL: 12px;
}

* {
  transition: .2s ease-in-out;
  color: var(--foreground);
  user-select: none;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html.dark {
  --border-color: #333;
  --border-style: dashed;
  --foreground: #ededed;
  --background: #0a0a0a;
}

html.light {
  --border-color: #ffffff;
  --border-style: solid;
  --foreground: #0a0a0a;
  --background: #ededed;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {

  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
